<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p><small>&copy 2022 Sander Otte<br />
		  Built with <a href="https://getbootstrap.com">Bootstrap</a>, forked from <a href="https://allanlab.org">Allan Lab</a><br />
		  We are part of the <a href="https://www.tudelft.nl/tnw/over-faculteit/afdelingen/quantum-nanoscience">Department of Quantum Nanoscience</a> at <a href="https://www.tudelft.nl">TU Delft</a></small></p>
		   </div>
		   
		    <div class="col-sm-4">
		  <p><small><i>Directions:</i><br />
		  Delft University of Technology<br />
		  Building 22, office F182 (<a href="https://iamap.tudelft.nl">campus map</a>)<br />
		   +31 (0)15 278 8998<br />
		  </div>
		  
		  
		   <div class="col-sm-4">
		   <p><i>Contact:</i><br />
		  Lorentzweg 1<br />
		  2628 CJ Delft, The Netherlands<br />
		  <a href="mailto:a.f.otte@tudelft.nl">a.f.otte@tudelft.nl</a></small></p>
		  </div>
		  
		
		  
		
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
